<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 500px;">
            <div class="card-header div1">
                <img class="card-img-top mx-auto m-s" src="/img/spider-solid.svg" alt="Logo" style="width: 150px; heigth: 150px;display:block;">
                <h3 class="text-uppercase text-center p-4">Desarrollo con node js</h3>
            </div>
            <div class="card-body text-center div2">
                <p>Crud Josue Lopez</p>
                <a href="/add" class="btn btn-primary">Registrar Empresa</a>
                <a href="/addS" class="btn btn-primary">Registrar Sucursal</a>
            </div>
        </div>
    </div>
</main>